# Paksa file YAML di workflows agar dihitung sebagai bahasa biasa
.github/workflows/ci.yml linguist-detectable=true
.github/workflows/ci.yml linguist-language=YAML
.github/workflows/*.yml linguist-detectable=true
.github/workflows/*.yml linguist-language=YAML

# Bahasa pendukung lainnya
Makefile linguist-language=Makefile
Dockerfile linguist-language=Dockerfile
*.sh linguist-language=Shell
*.json linguist-language=JSON